@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body
{
  font-family: 'Poppins' , sans-serif;
  background: #282828;
  background: linear-gradient(-45deg,#EE7752, #E73C7E, #23A6D5, #23D5AB);

  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}
@-webkit-keyframes Gradient
{
  0%
  {
    background-position: 0% 50%
  }
  50%
  {
    background-position: 100% 50%
  }
  100%
  {
    background-position: 0% 50%
  }
}

h1
{
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
}
h2
{
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
}
p
{
  color: #fff;
  text-align: center;
  font-family: 'Poppins' , sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 0;

}

.btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}

